<div class='layer'>
    <div>j</div>
    my name ioodkfju
    <%= name %>
        <%= JSON.stringify(data) %>
            <br/><br/><br/><br/><br/>
            <%= JSON.stringify(imglist[0].list[0].url) %>
                <img src="<%= imglist[0].list[0].url %>" alt=""> ppp

</div>