{
    // 环境定义了预定义的全局变量。
    "env": {
        //环境定义了预定义的全局变量。更多在官网查看
        "browser": true,
        "node": true,
        "commonjs": true,
        "amd": true,
        "es6":true,
        "mocha":true
    },
    // JavaScript 语言选项
    "parserOptions": {
        // ECMAScript 版本
        "ecmaVersion": 6,
        "sourceType": "module",//module
        // 想使用的额外的语言特性:
        "ecmaFeatures": {
            // 允许在全局作用域下使用 return 语句
            "globalReturn":true,
            // impliedStric
            "impliedStrict":true,
            // 启用 JSX
            "jsx":true,
            "warn":1
        }
    },
    /**
     *  "off" 或 0 - 关闭规则
     *  "warn" 或 1 - 开启规则，使用警告级别的错误：warn (不会导致程序退出),
     *  "error" 或 2 - 开启规则，使用错误级别的错误：error (当被触发的时候，程序会退出)
     */
    "rules": {
        "quotes": [
        "error",
        "single"
        ],//字符串必须使用单引号
        "semi": [2, "always"],//语句强制分号结尾
        "indent": [2, 4],//缩进风格
        "eqeqeq": 2,//必须使用全等
        "eol-last": 0,//文件以单一的换行符结束
        "curly": [2, "all"],//必须使用if(){} 中的{}
        "camelcase": 2,//强制驼峰命名
        "consistent-this": [2, "that"],//this别名
        "no-unused-vars": [2],//不能声明后未被使用的变量
        "no-alert": 0 //禁止使用alert confirm 1警告 2报错
    }
}